*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Border */
.border{
    border: 1.5px solid transparent;
    border-radius:2%;
    margin: 5px 2px 5px 0px;
    padding: 0 9px;
}
.border:hover{
    border: 1.5px solid white;
}
/* Box1 - Amazon Logo */
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("Images/Amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size:cover;
}
/* Box2 - Address | Location */
.add-first{
    font-size: 0.85rem; /* rem - If width gets decrease font size also gets decrese*/
    color: #CCCCCC;
    margin-left: 15px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.add-second{
    font-size: 1 rem;
    color: #FFFFFF;
    margin-left: 3px;
}
/* Box3 - Search bar */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 900px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    border: none;
}
.search-input{
    border: none;
    width: 100%;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FEBD68;
    color: #0F1111;
}
/* Box4 - Language */
.nav-language{
    display: flex;
    align-items: center;
}
.flag{
  margin-right: 3px;
}
.arrow{
    width: 8px;
    margin: 6px 0 0 2px;
}
/* Box5/6 - Sign in + Orders */
.signin-first{
    font-size: 0.8rem;
}
.signin-second{
    font-size: 0.90rem;
    font-weight: 700;
}
/* Box7 - Cart */
/* i -> I wanna use styling who only applying on icon which is inside nav-cart class */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*  */
.panel{
    height: 40px;
    color: white;
    background-color: #3a3b3b;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel-all{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 80%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* Hero Section */
.hero-section{
    background-image: url(Images/Hero_Image1.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    height: 40px;
    width: 95%;
    background-color: #F5F6F6;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 0.85rem;
    margin-bottom: 105px;
}
.hero-message a{
    color: #007185;
}