*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Border */
.border{
    border: 1.5px solid transparent;
    border-radius:2%;
    margin: 5px 2px 5px 0px;
    padding: 0 9px;
}
.border:hover{
    border: 1.5px solid white;
}
/* Amazon Logo */
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("Images/Amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size:cover;
}
/* Address | Location */
.add-first{
    font-size: 0.85rem; /* rem - If width gets decrease font size also gets decrese*/
    color: #CCCCCC;
    margin-left: 15px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.add-second{
    font-size: 1 rem;
    color: #FFFFFF;
    margin-left: 3px;
}
/* Search bar */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 900px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    border: none;
}
.search-input{
    border: none;
    width: 100%;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FEBD68;
    color: #0F1111;
}
/* Language */
.nav-language{
    display: flex;
    align-items: center;
}
.flag{
  margin-right: 3px;
}
.arrow{
    width: 8px;
    margin: 6px 0 0 2px;
}
/* Sign in + Orders */
.signin-first{
    font-size: 0.8rem;
}
.signin-second{
    font-size: 0.90rem;
    font-weight: 700;
}
/* Cart */
/* i -> I wanna use styling who only applying on icon which is inside nav-cart class */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*  */
.panel{
    height: 40px;
    color: white;
    background-color: #3a3b3b;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel-all{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 80%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/** Body Section **/
body{
    background-color: #E2E7E6;
}
/* Hero Section  */
.hero-section{
    background-image: url(Images/Hero_Image1.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-arrow-left{
    color: white;
    font-size: 52px;
    height: 250px;
    margin: 0 0 35px 50px;
}
.hero-arrow-left:hover{
    color: black;
}
.hero-message{
    height: 40px;
    width: 95%;
    background-color: #F5F6F6;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 0.85rem;
    margin-bottom: 90px;
}
.hero-message a{
    color: #007185;
}
.hero-arrow-right{
    color: white;
    font-size: 52px;
    height: 250px;
    margin: 0 50px 35px 0;
}
.hero-arrow-right:hover{
    color: black;
}
/* Shopping Section */
.layout-section{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    height: 418px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}
.box-img{
    height: 300px;
    width: 100%;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content a{
   color: #007185;
}
.scroll-section{
    background-color: white;
    margin: 70px 20px 10px 20px;
}
.scroll-block{
    overflow: auto;
    white-space: nowrap;
}
.scroll-block a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.scroll-img{
    height: 200px;
    width: 200px;
}
/** Footer Section **/
footer{
    margin-top: 50px;
}
.nav-footer{
    color: #FFF;
}
/* panel 1 */
.foot-panel1{
    height: 50px;
    background-color: #37475A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.text:active{

}
/* panel 2 */
.foot-panel2{
    height: 400px;
    background-color: #222F3D;
    display: flex;
    justify-content: space-evenly;
}
span{
    font-size: 1.1rem;
}
.foot-panel2 ul{
    list-style: none;
    margin-top: 50px;
}
ul a{/*OR nav-a*/
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #DDDDDD;
    font-size: 0.85rem;
}
.nav-a:hover{
    text-decoration: underline;
}
/* panel 3 */
.foot-panel3{
    height: 100px;
    background-color: #222F3D;
    color: #DDDDDD;
    font-size: 0.85rem;
    border-top: 0.1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel3-content{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}
.foot-border{
    border: 1px solid white;
    padding: 8px;
    margin-left: 4px;
}
.foot-eng-box{
    display: flex;
}
.foot-eng-box i{
    margin-left: 10px;
    margin-right: 10px;
}
.foot-dollar-box{
    display: flex;
}
.foot-dollar-box i,p{
    margin-left: 10px;
    margin-right: 10px;
}
.foot-us-box{
    display: flex;
}
.foot-us-box i,p{
    margin-left: 10px;
    margin-right: 10px;
}
/* panel 4 */
.foot-panel4{
    height: 100px;
    background-color: #131A22;
    font-size: 0.75rem;
}
.panel4-one{
    text-align: center;
    padding-top: 30px;
}
.panel4-one a{
    list-style: none;
    text-decoration: none;
    color: #DDDDDD;
    margin-right: 20px;
}
.panel4-one a:hover{
    text-decoration: underline;
}
.panel4-two{
    text-align: center;
    margin-top: 10px;
    color: #DDDDDD;
}