*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Box1 - Logo */
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("Images/Amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size:cover;
}
/* Border */
.border{
    border: 1.5px solid transparent;
    border-radius:2%;
    /* margin: 2px;
    padding: 2px; */
}
.border:hover{
    border: 1.5px solid white;
}
/* Box2 - Address */
.add-first{
    font-size: 0.85rem; /* rem - If width gets decrease font size also gets decrese*/
    color: #CCCCCC;
    margin-left: 15px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.add-second{
    font-size: 1 rem;
    color: #FFFFFF;
    margin-left: 3px;
}
/* Box3 - Search bar */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}
.search-select{
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    border: none;
}
.search-input{
    border: none;
    width: 100%;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FEBD68;
    color: #0F1111;
}
/* Box4 - Sign in */
.signin-first{
    font-size: 0.7rem;
}
.signin-second{
    font-size: 0.85rem;
    font-weight: 700;
}