h1 {
    width: 400px;
    background-color:lightseagreen;
    text-align: center;
    border-style: dashed;
    border-width: 4px;
}
#height {
    height: 100px;
    background-color: pink;
}
#width {
    width: 600px;
    background-color: aqua;
}
p {
    background-color:burlywood;
    width: 400px;
}
div {
    background-color:lightgreen;
    height: 200px;
    width: 200px;
    /* border-style: solid;
    border-width: 2px;
    border-color: brown; */
    border: 2px solid brown;
    text-align: right;
}