#one {
    background-color: lightcoral;
    height: 100px;
    width: 100px;
    margin: 20px;
}
#two {
    background-color: lightgreen;
    height: 100px;
    width: 100px;
    margin: 10px 20px 30px 40px;
}
#three {
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
    margin-left:25px;
    margin-right:25px;
    margin-top:25px;
    margin-bottom:25px;
}