div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    /* Above properties used to create a box */

    animation-name: positionAnimate;
    animation-duration: 2s;
    /* animation-timing-function: ease-in; */
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes positionAnimate {
    from{left: 0px;}
    to{left: 500px;}
}
#one{
    position: absolute;
    top: 160px;
    left: 100px;
    /* Above properties used to give a position for div */

    animation-direction:normal;
    /* Move only in one direction from left to right(From to To) */
}
#two{
    position: absolute;
    top: 270px;
    left: 100px;
    /* Above properties used to give a position for div */

    animation-direction:reverse;
    /* Move only in one direction from right to left(To to From) */
}
#three{
    position: absolute;
    top: 380px;
    left: 100px;
    /* Above properties used to give a position for div */

    animation-direction:alternate;
    /* Move in two direction from left to right & vice a versa(From to To And To to From) */
}
#four{
    position: absolute;
    top: 490px;
    left: 100px;
    /* Above properties used to give a position for div */

    animation-direction:alternate-reverse;
    /* Move in two direction from right to left & vice a versa(To to From And From to To) */
}