div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    /* Above properties used to create a box */

    position: absolute;
    top: 50px;
    left: 50px;

    animation:positionAnimate 4s linear 0s infinite normal
}
@keyframes positionAnimate {
    0% {
        left: 0px;
        background-color: red;
        font-size: 10px;
    }
    50% {
        background-color: green;
        font-size: 15px;
    }
    100% {
        left: 500px;
        background-color: blue;
        font-size: 20px;
        color: white;
    }
}
