#one {
    font-family: serif;
}
#two {
    font-family: sans-serif;
}
#three {
    font-family: cursive;
}
#four {
    font-family: fantasy;
}
#five {
    font-family: monospace;
}
#six {
    font-family: Arial, Helvetica, sans-serif;
}
#seven {
    font-family: 'Courier New', Courier, monospace;
}