#line_through {
    text-decoration: line-through;
}
#line_through_color {
    text-decoration: line-through red;
}

#line_through_dotted {
    text-decoration: line-through dotted;
}
#line_through_dotted_color {
    text-decoration: line-through dotted red;
}