#one {
    text-decoration: underline;
}
#two {
    text-decoration: overline;
}
#three {
    text-decoration: line-through;
}
#four {
    text-decoration: none;
}
#five {
    text-decoration-style: double;
}