#plane {
    text-decoration: underline;
}
#plane_color {
    text-decoration: underline blue;
}
#dotted {
    text-decoration: underline dotted;
}
#dotted_color {
    text-decoration: underline dotted red;
}
#wavy {
    text-decoration: underline wavy;
}
#wavy_color {
    text-decoration: underline wavy green;
}
