#plane_color {
    text-decoration: underline blue;
}
#dotted {
    text-decoration: underline dotted;
}
#wavy {
    text-decoration: green wavy underline;
}
#dotted_color {
    text-decoration: underline dotted red;
}